.finish-content{
    padding: 3.2rem;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.finish-text-content{
    margin-top: 3rem;
}

.finish-text-content h1{
font-size: 2.8rem;
font-weight: 700;
line-height: 3.545rem;
text-align: center;
}

.finish-text-content p{
font-size: 1.5rem;
font-weight: 400;
line-height: 2.4rem;
text-align: center;
color: #969FAD;
}

.rating{
font-size: 1.5rem;
font-weight: 400;
line-height: 2.4rem;
text-align: center;
color: #FC7614;
padding:0.5rem 2rem;
background-color: #262E38;
margin-top: 2rem;
border-radius: 20px;
}