.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: #7c8798;
  background-color: #262e38;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-family: "Overpass", sans-serif;
font-size: 1.6rem;
font-weight: 700;
line-height: 2.4rem;
letter-spacing: 0.20000000298023224px;
}

.btn-container {
  display: flex;
  justify-content: space-between;

}

.btn-submit {
  font-family: "Overpass", sans-serif;
  background-color: #fc7614;
  width: 100%;
  color: white;
  padding: 1.5rem;
  border: none;
  border-radius: 20px;
  margin-top: 3rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.899rem;
  letter-spacing: 0.2rem;
  text-align: center;
  transition: background-color 0.5s ease;
}

.main-content {
  margin-top: 3rem;
}

h1 {
  color: white;
  font-size: 2.8rem;
  line-height: 3.545rem;
}

.main-content p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-top: 0.7rem;
  margin-bottom: 2.4rem;
  color: #969FAD;
}



.btn:hover {
  background-color: #fc7614;
  color: white;
}

.btn-submit:hover {
  background-color: white;
  color: #fc7614;
}

.btn:focus{
  background-color: #7c8798;
  color: white;
}